.fill{
    flex: 1;
    text-align: center;
}
.task-header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.material-icon{
    line-height: 1;
}