<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <md-card>
    <md-card-header>
      <md-card-title>登录</md-card-title>
       </md-card-header>
    <md-card-content>
     <md-input-container class="full-width">
       <input mdInput type="email" placeholder="您的email" formControlName="email">
     </md-input-container>
     <md-input-container class="full-width">
      <input mdInput type="密码" placeholder="您的密码" formControlName="possword">
    </md-input-container>
    
      <button md-raised-button type="submit" [disabled]='!form.valid'>登录</button>
    
    </md-card-content>
    <md-card-actions class="text-right">
      <p>还没有注册？<a routerLink="/register">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>
        每日名言
      </md-card-title>
      <md-card-subtitle>
        不忘初心 方得始终
      </md-card-subtitle>
       </md-card-header>
       <img md-card-image src="assets/img/quotes/5.jpg" alt="">
    <md-card-content>
     Module is generated but not provided, it must be provided to be used
    </md-card-content>
    </md-card>

</form>